<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
    </header>
    <main>
        <h3>there is nothing go to the home please</h3>
    </main>
    <footer>
        <%- include('../../layout/footer') %>
    </footer>
    <script src="/public/js/app.js"></script>
</body>

</html>