<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
            <h2 class="p1">Search by Title or Author</h2>
    </header>
    <main>
        <form action="/searches" method="POST">
            <fieldset class="input1">
                <input class="p2" type="text" name="search" placeholder="Enter a title or author" required>
            </fieldset>
            <fieldset class="input2">
                <label for="title">
                <p class="p3">Title</p>
                <input class="p4" type="radio" name="searchBy" value="title" required>
            </label>
            </fieldset>
            <fieldset class="input3">
                <label for="author">
                <p class="p5">Author</p>
                <input class="p6" type="radio" name="searchBy" value="author" required>
            </label>
            </fieldset>
            <fieldset class="input4">
                <button class="p7" type="submit">search the google books API</button>
            </fieldset>
        </form>
    </main>
    <footer>
        <%- include('../../layout/footer') %>
    </footer>
    <script src="../js/app.js"></script>
</body>

</html>