<div class="topnav">
    <a href="#" class="active">Book Collection</a>
    <div id="myLinks">
        <a href="/">Show</a>
        <a href="./searches/new">New</a>
        <a href="./searches/show">Searches</a>
    </div>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
        <i class="fa fa-bars"></i>
    </a>
</div>
<p>My Book Collection</p>